html,
body {
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  background-color: lightskyblue;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left,
.right {
  background-color: ;

  margin: 5px;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: center;
}

.name {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.profile-picture {
  border-radius: 50%;
}

body {
  background: linear-gradient(
    to bottom,
    rgba(231, 240, 245, 1) 0%,
    rgba(170, 221, 235, 1) 100%
  );
}

.topic {
  line-height: 0.2;
}